{% extends 'main/base.html' %}
{% load static %}

{% block meta %}
{% comment %} <link rel="stylesheet" href="{% static 'css/edit-user-profile-kendaraan.css' %}" with linkback="/"> {% endcomment %}
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
{% endblock meta%}

{% block content %}
{% comment %} {% include 'main/navbar-with-title-putu.html'  with title="Edit Profil" linkback="/user-profile/" %} {% endcomment %}
<div class="container d-flex flex-column align-items-center justify-content-center form-re">

    <div class="container-fluid p-5 text-center pt-5 edit-profile-image-container" id="display-frame">
      {% if foto %}
      <img src="{{foto}}" id="display-picture" class="edit-profile-img" />
      {% else %}
      <img src="{% static 'img/profile-picture-default.png' %}" id="display-picture" class="edit-profile-img"/>
      {% endif %}
      <img src="{% static 'img/edit-pen.png' %}" class="editable-icon"/>
    </div>

    <form method="POST" action="/profil/edit-profil/" enctype="multipart/form-data">
      {% csrf_token %}
     
          {% if error is not None %}
          <div class="error-message w-100">
            <p style="color:var(--primary-accent-color)">{{error}}</p>
          </div>
          {% endif %}
          <input style="display: none;" type="file" id="imageFileInput" class="input-picture" accept="image/png, image/jpeg" name="myfile" onchange="readURL(this);">
          <div class="mb-3 mt-4">
            <label for="nama_depan" class="form-label">Nama Depan</label>
            <input name="nama_depan" type="text" class="form-control" id="nama_depan" value="{{nama_depan}}" required>
          </div>
          <div class="mb-3 mt-4">
            <label for="nama_belakang" class="form-label">Nama Belakang</label>
            <input name="nama_belakang" type="text" class="form-control" id="nama_belakang" value="{{nama_belakang}}" required>
          </div>
          <div class="mb-3 mt-2">
            <label for="username" class="form-label">Username</label>
            <input name="username" type="text" class="form-control" id="username" readonly value="{{username}}">
          </div>
          <div class="mb-3 mt-2">
            <label for="jeniskelamin" class="form-label">Jenis Kelamin</label>
            <select class="form-select" name="jenis_kelamin">
              {% if jenis_kelamin == 2 %}
              <option value="1">Laki-Laki</option>
              <option value="2" selected>Perempuan</option>
              {% else %}
              <option value="1" selected >Laki-Laki</option>
              <option value="2">Perempuan</option>
              {% endif %}
            </select>
          </div>
          <div class="mb-3 mt-2">
            <label for="tanggal_lahir" class="form-label">Tanggal lahir</label>
            <input name="tanggal_lahir" type="date" class="form-control" id="tanggal_lahir" value="{{tanggal_lahir}}" required>
          </div>
          <div class="mb-3 mt-2">
            <label for="email" class="form-label">Email</label>
            <input name="email" type="email" class="form-control" id="email" value="{{email}}" required>
          </div>

          <div class="mb-3 mt-2">
            <label for="password" class="form-label">Ganti Password</label>
            <input name="password1" type="password" class="form-control" id="password">
          </div>
          <div class="mb-3 mt-2">
            <label for="ulangi-password" class="form-label">Ulangi Password</label>
            <input onkeyup="passwordValidation()" name="password2" type="password" class="form-control" id="ulangi-password">
          </div>

          <div class="mb-3 mt-2">
            <label for="alamat" class="form-label">Alamat</label>
            <textarea name="alamat" class="form-control" id="alamat">{{alamat}}</textarea>
          </div>
          <div class="mb-3 mt-2">
            <label for="notelp" class="form-label">No Telp</label>
            <input name="no_telepon" class="form-control" id="notelp" value="{{no_telepon}}">
          </div>
          

        <button id="button-submit" type="submit" class="btn btn-danger w-100 mt-4">Simpan</button>
    </form>
</div>
<br><br>

<script src="{%static 'js/register.js'%}"></script>
<script src="{%static 'js/profil.js'%}"></script>
{% endblock content %}
