{% extends 'main/base.html'%} {% load static %} {% block meta %}
<link rel="stylesheet" href="{% static 'css/profil.css'%}" />
{% comment %} <link rel="stylesheet" href="{% static 'css/navbar.css' %}" /> {% endcomment %}
{% endblock meta %} {% block content %}
{% include "main/navbar-with-title.html" with title="Profil" linkback="/" linklogout="/logout/"%}

<div style="min-height:70vh">

  <div class="container-fluid bg-white p-5 text-center pt-5 mb-3">
    {% if foto %}
      <img src="{{foto}}" id="display-picture" class="view-profile-img" />
    {% else %}
      <img src="{% static 'img/profile-picture-default.png' %}" id="display-picture" class="view-profile-img"/>
    {% endif %}
    <p class="heading2 mt-4">{{nama_depan}} {{nama_belakang}}</p>
    <p class="h6">@{{username}}</p>
    <a class="btn btn-danger mt-3 btn-edit-profile" style="background-color: #EF233C !important; width: 120px;" href="/profil/edit-profil/">Edit Profil</a>
  </div>

</div>

<br><br><br><br><br><br><br>

{% comment %} {% include "main/bottombar.html" %}  {% endcomment %}
{% endblock content %}