
.heading2 {
    font-family: var(--secondary-font);
    font-size: 22px;
    font-weight: bold;
    color: var(--primary-base-color);

}

.btn-edit-profile:hover{
    cursor: pointer;
}

.card {
    width: 100%;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
    padding: 0;
}

.card:hover {
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
}

.card-body {
    max-height: 161px;
}

.view-profile-img{
    height: 100px;
    width: 100px; 
    border: 2px solid var(--secondary-dark-color); 
    border-radius: 50%;
}

.gambar-kendaraan {
    height: 90px;
    width: 90px;
}

.list-kendaraan-title{
    color: var(--secondary-dark-color);
}

.detail-kendaraan {
    display:flex;
    flex-direction: column;
    margin-left: 30px;
}

.tambah-kendaraan{
    font-family: "Poppins";
    height: 100px;
    color: var(--secondary-dark-color);
}

.tambah-kendaraan-img{
    margin-left: 5px;
}

.nama-kendaraan {
    font-family: "Poppins";
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--primary-base-color) ;
}

.jenis {
    margin-top: -5px;
    font-family: "Poppins";
    font-weight: 400;
    font-size: 1rem;
    color: var(--primary-base-color);
}

.terakhir-perawatan {
    font-family: "Poppins";
    font-weight: 400;
    font-size: 0.75rem;
    color: var(--secondary-dark-color); 
}

.arrow {
    width: 22px;
    height: 36px;
    margin-left: auto;
    margin-right: 20px;
}

.arrow:hover {
    cursor:pointer;
}

