{% extends 'main/base.html' %}
{% load static %}

{% block meta %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
{% endblock meta%}

{% block content %}

<div class="container d-flex flex-column align-items-center justify-content-center">
    <img class="login-image" src="{% static 'img/sporteev-logo.png' %}">
    <div class="tulisan-login mt-5">
        Login
    </div>
    <form id="frm" method="POST" action="/">
        {% csrf_token %}
        <div class="mb-3 mt-4">
            <label for="username" class="form-label">Username</label>
            <input required name="username" type="text" class="form-control" id="username">
        </div>
        <div class="mb-3 mt-2">
            <label for="password" class="form-label">Password</label>
            <input required name="password" type="password" class="form-control" id="password">
        </div>
        <button id="submit" type="submit" class="btn btn-success w-100 mt-4" value="submit">Login</button>
        <div class="error-message w-100 mt-2">
            <p style="color:red">{{error}}</p>
        </div>
    </form>
    <div style="width:75%; text-align:center;" class="mt-5 mb-5">
        <span>Belum mempunya akun?</span> <a href="/register" class="daftar-button">Daftar sekarang!</a>
    </div>
</div>
{% comment %} <script src="{% static 'js/login.js'%}"></script> {% endcomment %}
{% endblock content %}