{% load static %}
<div class="navbar-container d-flex justify-content-between">
    <div class="arrow-left">
        <a href="{{linkback}}">
        <!-- <button onclick=""> -->
            <img src="{% static 'main/img/arrow.png' %}" alt="">
        </a>
    </div>
    <div >
        <span class="title">{{title}}</span>
    </div>
    {% if linksimpan is not None %}
    <!-- <a href="{{linksimpan}}"> -->
    <!-- <button onclick={{onclick}}> -->
    <div>
        <button onclick="{{onclick}}" style="background-color: #EF233C !important;" type="button" class="btn btn-danger btn-simpan">Simpan</button>
    </div>
    <!-- </button> -->
    {% endif %}

    {% if linklogout is not None %}
    <div >
        <a href="{{linklogout}}" type="button" class="btn btn btn-outline-danger">Logout</a>
    </div>
    {% endif %}
</div>