{% extends 'main/base.html' %}
{% load static %}

{% block meta %}
<link rel="stylesheet" href="{% static 'css/register-pengguna.css' %}" with linkback="/">
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
{% endblock meta%}

{% block content %}

<div class="container d-flex flex-column align-items-center justify-content-center form-re">
    <div class="tulisan-login mt-4 mb-3">
        Register sebagai <span class="red">pengguna</span>
    </div>
    <form method="POST" action="/register/">
      {% csrf_token %}
          {% if error is not None %}
          <div class="error-message w-100">
            <p style="color:var(--primary-accent-color)">{{error}}</p>
          </div>
          {% endif %}
          <div class="mb-3 mt-4"> 
            <label for="nama_depan" class="form-label">Nama depan</label>
            <input required name="nama_depan" type="text" class="form-control" id="nama_depan">
          </div>
          <div class="mb-3 mt-4"> 
            <label for="nama_belakang" class="form-label">Nama belakang</label>
            <input required name="nama_belakang" type="text" class="form-control" id="nama_belakang">
          </div>
          <div class="mb-3 mt-2">
            <label for="jeniskelamin" class="form-label">Jenis Kelamin</label>
            <select required class="form-select" name="jenis_kelamin">
              <option value="1">Laki-Laki</option>
              <option value="2">Perempuan</option>
            </select>
          </div>
          <div class="mb-3 mt-2">
            <label for="tanggal_lahir" class="form-label">Tanggal lahir</label>
            <input required name="tanggal_lahir" type="date" class="form-control" id="tanggal_lahir">
          </div>
          <div class="mb-3 mt-2">
            <label for="username" class="form-label">Username</label>
            <input required name="username" type="text" class="form-control" id="username">
          </div>
          <div class="mb-3 mt-2">
            <label for="email" class="form-label">Email</label>
            <input required name="email" type="email" class="form-control" id="email">
          </div>
          <div class="mb-3 mt-2">
            <label for="password" class="form-label">Password</label>
            <input required name="password1" type="password" class="form-control" id="password">
          </div>
          <div class="mb-3 mt-2">
            <label for="ulangi-password" class="form-label">Ulangi Password</label>
            <input required onkeyup="passwordValidation()" name="password2" type="password" class="form-control" id="ulangi-password">
          </div>
          <div class="mb-3 mt-2">
            <label for="alamat" class="form-label">Alamat</label>
            <textarea required name="alamat" class="form-control" id="alamat"></textarea>
          </div>
          <div class="mb-3 mt-2">
            <label for="notelp" class="form-label">No Telepon</label>
            <input required name="no_telepon" class="form-control" id="notelp">
          </div>
          <input type="hidden" value="pengguna" name="register_type">
        <button id="button-submit" type="submit" class="btn btn-danger w-100 mt-4" value="submit">Register</button>
    </form>
</div>

{% comment %} <script src="{%static 'js/register.js'%}"></script> {% endcomment %}
{% endblock content %} 