* {
    font-family: "Poppins";
}

.register-image {
    width: 60%;
    height: auto;
    margin-top: 4rem;
}

.judul {
    width: 80%;
    margin-top: 2rem;
    color: red;
}

.register {
    font-size: 2rem;
    font-weight: 800;
}

.heading2 {
    font-size: 1rem;
}

.role {
    width:95%;
    justify-content: space-around;
    margin-top: 2rem;
}

.card {
    min-height: 315px;
    width: 240px;
    border-radius: 25px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.08);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card img {
    width: 50px;
    height: 50px;
    margin-top: 2rem;
}

.card .user-role {
    font-weight: 800;
    font-size: 1.25rem;
    margin-top: 1rem;
}

.card .deskripsi {
    text-align: center;
    font-size: 0.8rem;
    font-weight: 400;
    width: 80%;
    color: gray;
}

.btn {
    border-radius: 8px !important;
    width: 70%;
}

.login a {
    color: red !important;
    text-decoration: none;
}

.login a:hover {
    cursor: pointer;
    text-decoration: underline;
}