{% extends 'main/base.html' %}
{% load static %}

{% block meta %}
<link rel="stylesheet" href="{% static 'css/register.css' %}">
{% endblock meta %}

{% block content %}
<div class="container d-flex flex-column align-items-center">
    <img class="register-image" src="{% static 'img/sporteev-logo.png' %}">
    <div class="judul">
        <p class="register">Register</p>
        <p class="heading2">Anda ingin mendaftar sebagai...</p>
    </div>
    <div class="role d-flex">
        <div class="card">
            <img src="{% static 'img/user.png' %}">
            <p class="user-role">Badminton</p>
            <p class="deskripsi">
                Pengguna bisa mencari teman berolahraga dan mencari venue
            </p>
            <a href="/register/pengguna" class="btn btn-success">Register</a>
        </div>
        <div class="card">
            <img src="{% static 'img/venue.png' %}">
            <p class="user-role">Venue</p>
            <p class="deskripsi">
                Venue bisa mengelola venuenya
            </p>
            <a href="#" class="btn btn-danger">Soon</a>
        </div>
    </div>
    <p class="mt-5 login">
        Sudah mempunyai akun? <a href="/">Login sekarang!</a>
    </p>
</div>

{% endblock content %}